body {
  padding: 20px;
  margin: 20px;
}

.card h2 {
  text-align: center;
  font-size: 45px;
  font-style: normal;
  color: #455166;
  margin: 10px;
  padding: 10px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  font-size: 25px;
}

.center-text {
  margin: auto;
  width: 96%;
  font-size: 17px;
  padding: 3%;
}

.doctor-output {
  display: none;
  padding: 14px;
  margin: 25px;
  background-color: #d7dbe0;
}

img {
  width: 50%;
  height: auto;
}
